{
  "extends": [
    "@valtech-ch/eslint-config-react",
    "@valtech-ch/eslint-config-react/nextjs"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    // to enable in the future
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/restrict-template-expressions": "off"
  }
}
